name: Semgrep (Manual Publish Scan)

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: read
  security-events: write

jobs:
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Semgrep full scan
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/ci,p/java,p/security-audit
          generateSarif: "1"
          fail_on_error: "false"

      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
        if: always()
