name: Semgrep (Manual Full Scan)

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: read
  security-events: write

jobs:
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Semgrep (manual)
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/ci,p/java,p/security-audit

      - name: Upload SARIF to GitHub Code Scanning
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: .semgrep/semgrep.sarif
