name: Semgrep (Manual Full Scan)

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: read
  security-events: write

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Semgrep Manual Cloud Scan
        uses: semgrep/semgrep-action@v3
        with:
          publishToken: ${{ secrets.SEMGREP_APP_TOKEN }}
          config: |
            p/ci
            p/java
            p/security-audit
          generateSarif: true

      - name: Upload SARIF
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep.sarif
