name: Semgrep (PR Scan)

on:
  pull_request:
    branches: [ "main" ]

permissions:
  pull-requests: write
  contents: read
  actions: read
  security-events: write

jobs:
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Semgrep
        run: pip install semgrep

      - name: Run Semgrep + Upload + PR Comments
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
        run: |
          semgrep \
            --config p/ci \
            --config p/java \
            --config p/security-audit \
            --sarif --output semgrep.sarif \
            --auth-token "$SEMGREP_APP_TOKEN" \
            --comment

      - name: Upload SARIF to GitHub Code Scanning
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep.sarif
